.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
}

.navbar * {
    padding: 10px;
    color: #D29F46;
}

.navbar-menu {
    display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: left;
    align-self: center;
    font-size: 1.25rem;
}

.navbar-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.navbar-cart {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    justify-self: right;
	align-self: center;
    font-size: 1.25rem;
}

.navbar-cart * {
	align-self: center;
    justify-self: right;
}
