.navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	/* height: 150px; */
}

.navbar * {
    padding: 10px;
    color: #D29F46;
}

.navbar-menu {
    display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: left;
    align-self: center;
    font-size: 1.25rem;
}

.navbar-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.navbar-cart {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-self: right;
	align-self: center;
    font-size: 1.25rem;
}

.navbar-cart * {
	align-self: center;
}
